.layout
  min-height: 100%
  margin-top: 56px
  .headerContainer
    position: absolute
    top: 0
    width: calc(100% - 34px)
    padding: 0px 16px
    border: 1px solid $black
    background: $background
    .header
      width: 100%
      max-width: 1120px
    @media (min-width: 376px)
      .header
        flex-direction: row
        justify-content: space-between
        align-items: center
    .headerIcons
      height: 56px
      .logo,
      .menu
        width: auto
        padding: 8px
        cursor: pointer
      @media (min-width: 376px)
        .menu
          display: none
    .menuOptions
      max-height: 500px
      padding-bottom: 8px
      opacity: 1
      overflow: hidden
      transition: max-height 1s
      &.hidden
        max-height: 0
        padding-bottom: 0
        transition: max-height 0.3s, padding 0.5s
      .menuOption
        height: 40px
        &:hover
          color: $skyBlue
    @media (min-width: 376px)
      .menuOptions
        flex-direction: row
        align-items: center
        flex-wrap: wrap
        &.hidden
          max-height: unset
        .menuOption
          margin-left: 52px
