.inputContainer
  background: $seashell
  border: 1px solid $ocean
  border-radius: 8px

.iconContainer
  padding-left: 16px

.input
  flex: 1
  padding: 16px
  border: none
  border-radius: 8px
  outline: none
