.inputContainer
  position: relative
  background: $seashell
  border: 1px solid $ocean
  border-radius: 8px
  &.invalid
    border: 1px solid $sunset
  .invalidText
    position: absolute
    bottom: 100%

.iconContainer
  padding-left: 16px

.input
  flex: 1
  padding: 16px
  border: none
  border-radius: 8px
  outline: none
