.flex
  display: flex
  flex-direction: column
  &.row
    flex-direction: row
  &.align-center
    align-items: center
  &.justify-center
    justify-content: center
  &.justify-space-between
    justify-content: space-between
  &.spacing-m > *:not(:last-child)
    margin-bottom: 8px
  &.spacing-l > *:not(:last-child)
    margin-bottom: 16px
  &.spacing-xl > *:not(:last-child)
    margin-bottom: 32px
  &.spacing-xxl > *:not(:last-child)
    margin-bottom: 48px
