.flex
  display: flex
  flex-direction: column
  &.row
    flex-direction: row
  &.align-center
    align-items: center
  &.justify-center
    justify-content: center
  &.justify-space-between
    justify-content: space-between

  &.column.spacing-s > *:not(:last-child)
    margin-bottom: 4px
  &.column.spacing-m > *:not(:last-child)
    margin-bottom: 8px
  &.column.spacing-l > *:not(:last-child)
    margin-bottom: 16px
  &.column.spacing-xl > *:not(:last-child)
    margin-bottom: 24px
  &.column.spacing-xxl > *:not(:last-child)
    margin-bottom: 32px
  &.column.spacing-xxxl > *:not(:last-child)
    margin-bottom: 48px

  &.row.spacing-s > *:not(:last-child)
    margin-right: 4px
  &.row.spacing-m > *:not(:last-child)
    margin-right: 8px
  &.row.spacing-l > *:not(:last-child)
    margin-right: 16px
  &.row.spacing-xl > *:not(:last-child)
    margin-right: 24px
  &.row.spacing-xxl > *:not(:last-child)
    margin-right: 32px
  &.row.spacing-xxxl > *:not(:last-child)
    margin-right: 48px

  &.padding-horizontal-s
    padding-left: 4px
    padding-right: 4px
  &.padding-horizontal-m
    padding-left: 8px
    padding-right: 8px
  &.padding-horizontal-l
    padding-left: 16px
    padding-right: 16px
  &.padding-horizontal-xl
    padding-left: 24px
    padding-right: 24px
  &.padding-horizontal-xxl
    padding-left: 32px
    padding-right: 32px
  &.padding-horizontal-xxxl
    padding-left: 48px
    padding-right: 48px

  &.padding-vertical-s
    padding-top: 4px
    padding-bottom: 4px
  &.padding-vertical-m
    padding-top: 8px
    padding-bottom: 8px
  &.padding-vertical-l
    padding-top: 16px
    padding-bottom: 16px
  &.padding-vertical-xl
    padding-top: 24px
    padding-bottom: 24px
  &.padding-vertical-xxl
    padding-top: 32px
    padding-bottom: 32px
  &.padding-vertical-xxxl
    padding-top: 48px
    padding-bottom: 48px
