.button
  width: 100%
  padding: 16px
  background: $skyBlue
  border: 1px solid $ocean
  border-radius: 8px
  cursor: pointer
  &.l
    padding: 16px
  .buttonText
    color: $seashell
  &.transparent
    background: transparent
    border: 0
  &.transparent:hover
    color: $skyBlue
  &.transparent .buttonText
    color: unset

@media (min-width: 480px)
  .button
    padding: 16px
