.extensions
  padding: 32px
  background: $whalesBack
  .extensionContainer
    width: 100%
    border: 1px solid $ocean
    border-radius: 16px
    text-decoration: none
    .extension
      padding: 14px 24px
      .extensionLogo
        width: 64px
      .title
        font-size: 20px
      .starLogo
        width: 16px
